<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>WEB AF</title>
</head>
<body>


	<form action="/aluno/salvar" method="POST" th:object="${aluno}">

		<div class="alert alert-success" role="alert"
			th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"> </span>
		</div>


		<div class="alert alert-danger" role="alert"
			th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div>

		<input type="hidden" th:field="*{matricula}" /> <input type="text"
			id="login" th:field="*{login}" placeholder="login" /><br> <input
			type="password" id="senha" th:field="*{senha}" placeholder="senha" /><br>
		<input type="text" id="nome" th:field="*{nome}" placeholder="nome" /><br>
		<input type="text" id="bolsa" th:field="*{bolsa}" placeholder="bolsa" /><br>
		<input type="date" id="datanascimento" th:field="*{datanascimento}" placeholder="dd/mm/yyyy"/><br>

		<input list="orientadores" id="orientador" th:field="*{orientador}">
		<datalist id="orientadores">
			<option th:each="orientadoro : ${listaorientadores}"
				th:text="${orientadoro.nome}">
		</datalist><br>



		<input type="submit" value="Cadastrar" />

	</form>


</body>
</html>
